@{
    ViewData["Title"] = "Countries";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Countries</h1>
            <p>Welcome to the Countries page</p>
        </div>
    </div>
</div>
